.git
.github
.idea
.vscode
node_modules
vendor
storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/testing
storage/framework/views
storage/debugbar
bootstrap/cache/*.php
public/build
public/hot
.env
.env.*
docker-compose*.yml
compose.override.yaml
