DOCKER_APP_NAME=SRHR
DOCKER_APP_ENV=production
DOCKER_APP_DEBUG=true
DOCKER_APP_KEY=base64:6f0w1+Rj0m9V7xw+LJdF0yk4s3eh4F6o2vJ5Qf8nJPo=
DOCKER_APP_URL=http://localhost

DOCKER_LOG_CHANNEL=stack
DOCKER_LOG_STACK=stderr,single
DOCKER_LOG_LEVEL=debug

DOCKER_DB_CONNECTION=sqlite
DOCKER_DB_DATABASE=/var/lib/srhr/database.sqlite

DOCKER_SESSION_DRIVER=redis
DOCKER_CACHE_STORE=redis
DOCKER_QUEUE_CONNECTION=redis
DOCKER_FILESYSTEM_DISK=public

DOCKER_REDIS_HOST=redis
DOCKER_REDIS_PORT=6379

DOCKER_WEB_PORT=80
DOCKER_REDIS_EXPOSE_PORT=6379

DOCKER_RUN_MIGRATIONS=true
DOCKER_RUN_SEEDERS=true
DOCKER_CACHE_LARAVEL_CONFIG=true
